#MP240819 {
    background-color: yellow;
    padding: 20px;
    font-family: cursive;
    border-radius: 30px;
    text-align: center;
    width: 500px;
}
#MM240370 {
    background-color: lightblue;
    padding: 20px;
    margin: 15px;
    border-radius: 10px;
    text-align: center;
  }
  
  #MM240370 h2 {
    color: darkblue;
  }
  
  #MM240370 p {
    color: darkgreen;
    font-size: 16px;
  }
  